html, body,
.body{
    background: #e4e5ea;
    background-color: #e4e5ea;
}

.header {
    background: #FF6A10;
    background-color: #FF6A10;
    .columns {
        padding-bottom: 20px;
        padding-right: 20px !important;
        padding-left: 20px !important;
        padding-top: 20px;
        .logo_white{
            width: 128px;
        }
        .user_icon {
            width: 32px;
        }
    }
}

.sub-header {
    background: #D65700;
    background-color: #D65700;
    .columns {
        padding-bottom: 5px;
        padding-right: 10px !important;
        padding-left: 10px !important;
        padding-top: 5px;
        a {
            color: white;
            font-size: 14px;
            font-weight: 700;
            .icons {
                width: 20px;
                margin-right: 10px;
            }
        }
        .menu-divider {
            display: block; 
            height: 20px; 
            width: 1px; 
            background:#ff690f; 
            background-color:#ff690f;
        }
    }
}

.footer {
    background: black;
    background-color: black;
    .footer-container {
        background: black;
        background-color: black;
    }
    a {
        color: red;
    }
}