html, body,
.body{
    background: #e4e5ea;
    background-color: #e4e5ea;
}

.header {
    background: $primary-color;
    background-color: $primary-color;
    .columns {
        padding-bottom: 20px;
        padding-right: 20px !important;
        padding-left: 20px !important;
        padding-top: 20px;
        .logo_white{
            width: 128px;
        }
        .user_icon {
            width: 32px;
        }
    }
}

.sub-header {
    background: #D65700;
    background-color: #D65700;
    .columns {
        padding-bottom: 5px;
        padding-right: 10px !important;
        padding-left: 10px !important;
        padding-top: 5px;
        a {
            color: white;
            font-size: 14px;
            font-weight: 700;
            .icons {
                width: 20px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: bottom;
            }
        }
        th {
            text-align: center;
        }
        .menu-divider {
            display: block; 
            height: 20px; 
            width: 1px; 
            background:#ff690f; 
            background-color:#ff690f;
        }
    }
}
.deal_of_day {
    background: #13191F;
    background-color: #13191F;
    .columns {
        th {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    img {
        padding-bottom: 20px;
    }
    h2 {
        color: white;
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
    }
    p {
        color: white;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        padding-bottom: 20px;
    }
    span {
        color: white;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        display: block;
        &.save_amount {
            font-size: 14px;
        }
        &.tiny_info {
            font-size: 10px;
            font-weight: 300;
            padding-bottom: 10px;
        }
        &.price {
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 10px;
        }

    }
    .button {
        display: inline-block;
        width: 150px;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
        border: 1px solid #fff;
        border-radius: 5px;
        color: white;
        &:hover {
            color: $primary-color;
        }
    }
}

.content-area {
    background: #f1f4f7;
    background-color: #f1f4f7;
    & > tbody > tr > th {
        padding-top: 16px;
    }
    .offer {
        background: #ffffff;
        background-color: #ffffff;
        .columns {
            th {
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 20px;
                padding-left: 20px;
            }
            & > table {
                max-width: 568px;
                table-layout: fixed;
            }
        }
        img {
            padding-bottom: 20px;
        }
        h2 {
            color: white;
            font-weight: 900;
            font-size: 30px;
            text-align: center;
            padding-bottom: 20px;
        }
        p {
            color: #334755;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            padding-bottom: 20px;
        }
        span {
            color: black;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            display: block;
            &.save_amount {
                font-size: 14px;
                color: #1a88f3;
            }
            &.tiny_info {
                font-size: 10px;
                font-weight: 500;
                padding-bottom: 10px;
                color: #334755;
            }
            &.price {
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 10px;
                color: #334755;
            }
    
        }
        .button {
            background: #14181c;
            background-color: #14181c;
            display: inline-block;
            width: 150px;
            text-align: center;
            padding-top: 7px;
            padding-bottom: 7px;
            border: 1px solid #fff;
            border-radius: 3px;
            color: white;
            &:hover {
                color: $primary-color;
            }
        }
    }
}
.footer {
    background: black;
    background-color: black;
    .footer-container {
        background: black;
        background-color: black;
    }
    a {
        color: red;
    }
}