.header {
    background: red;
    background-color: red;
    .columns {
        padding-bottom: 20px;
        padding-right: 20px !important;
        padding-left: 20px !important;
        padding-top: 20px;
        h1{
            color: white;
        }
    }
}

.footer {
    background: black;
    background-color: black;
    .footer-container {
        background: black;
        background-color: black;
    }
    a {
        color: red;
    }
}