<container>
    <row>
        <columns style="background: blue;">
            <row>
                <columns large="2" style="background: green;">
                    logo
                </columns>
                <columns large="10" style="background: red;">
                    logo
                </columns>
            </row>
        </columns>
        <columns style="background: yellow;">
            <row>
                <columns large="1">
                    apple
                </columns>
                <columns large="1">
                    google
                </columns>
            </row>
        </columns>
        </columns>
    </row>
</container>